<!-- Basis Vorlage. Hier wird die Basis geschaffen. Menüpunkte werden hier definiert. -->
<!-- Quelle: https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms & Eigenentwicklung -->

<html>
    <head>
        {% if title %}
        <title>{{ title }} - Entscheider</title>
        {% else %}
        <title>Entscheider</title>
        {% endif %}
    </head>
    <body>
        <div>
            Entscheider:
            <a href="{{ url_for('index') }}">Startseite</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Anmeldung</a>
            {% else %}
            <a href="{{ url_for('profile') }}">Profil</a>
            <a href="{{ url_for('logout') }}">Abmeldung</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <!--{% block scripts%}{% endblock %}-->
    </body>
</html>